{% extends "layout.html" %}
{% block content %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">

          <div class="form-group">
               <form method="" action="" style="margin-top: 20px; margin-bottom: 53%" enctype="multipart/form-data">
                  <h1><b>Page Not Found (404)</b></h1>
                   <div class="form-group">
                        <p>That page does not exist. Please try another adress.</p>
                  </div>
                 </form>
            </div>

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->



{% endblock content %}
