{% extends "layout2.html" %}
{% block content %}

    <form method="POST" action="" style="margin-top: 20px" enctype="multipart/form-data">
       {{ form.hidden_tag() }}
       <h2><b>Account Info</b></h2>
          <div class="form-group" style="background-color: whitesmoke">
              <img class="rounded-circle mx-auto d-block" src="{{ image_file }}">
          </div>
           <div class="form-group">
                {% if form.username.errors %}
                    {{ form.username(class="form-control", placeholder=form.username.description) }}
                    <div>
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control", placeholder=form.username.description) }}
                {% endif %}
          </div>
           <div class="form-group">
                {% if form.email.errors %}
                    {{ form.email(class="form-control", placeholder=form.email.description) }}
                    <div>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control", placeholder=form.email.description) }}
                {% endif %}
          </div>
           <div class="form-group">
                {% if form.address.errors %}
                    {{ form.address(class="form-control", placeholder=form.address.description) }}
                    <div>
                        {% for error in form.address.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address(class="form-control", placeholder=form.address.description) }}
                {% endif %}
          </div>
           <div class="form-group">
                {% if form.country.errors %}
                    {{ form.country(class="form-control", placeholder=form.country.description) }}
                    <div>
                        {% for error in form.country.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.country(class="form-control", placeholder=form.country.description) }}
                {% endif %}
          </div>
           <div class="form-group">
                {% if form.phone_number.errors %}
                    {{ form.phone_number(class="form-control", placeholder=form.phone_number.description) }}
                    <div>
                        {% for error in form.phone_number.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.phone_number(class="form-control", placeholder=form.phone_number.description) }}
                {% endif %}
          </div>
           <div class="form-group">
                {% if form.about_me.errors %}
                    {{ form.about_me(class="form-control", placeholder=form.about_me.description) }}
                    <div>
                        {% for error in form.about_me.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.about_me(class="form-control", placeholder=form.about_me.description) }}
                {% endif %}
           </div>
          <div>
            {{ form.picture.label() }}
            {{ form.picture(class="") }}
            {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                        <span>{{ error }}</span><br>
                    {% endfor %}
            {% endif %}
        </div>
          <div class="form-group" style="margin-top: 50px; margin-bottom: 250px">
              {{ form.submit(class="btn btn-secondary") }}
          </div>
       </form>

{% endblock content %}