{% extends "layout.html" %}
{% block content %}
    <h1>{{ legend }}</h1><hr>
    <div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>{{ legend }}</legend>
                <div>
                    {{ form.location.label }}
                    {% if form.location.errors %}
                        {{ form.location }}
                        <div>
                            {% for error in form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location }}
                    {% endif %}
                </div>
                <div>
                    {{ form.price.label }}
                    {% if form.price.errors %}
                        {{ form.price }}
                        <div>
                            {% for error in form.price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.price }}
                    {% endif %}
                </div>
                <div>
                    {{ form.people_number.label }}
                    {% if form.people_number.errors %}
                        {{ form.people_number }}
                        <div>
                            {% for error in form.people_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.people_number }}
                    {% endif %}
                </div>
                <div>
                    {{ form.starting_at.label }}
                    {% if form.starting_at.errors %}
                        {{ form.starting_at }}
                        <div>
                            {% for error in form.starting_at.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.starting_at }}
                    {% endif %}
                </div>
                <div>
                    {{ form.transport_type.label }}
                    {% if form.transport_type.errors %}
                        {{ form.transport_type }}
                        <div>
                            {% for error in form.transport_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.transport_type }}
                    {% endif %}
                </div>
                <div>
                    {{ form.trip_duration.label }}
                    {% if form.trip_duration.errors %}
                        {{ form.trip_duration }}
                        <div>
                            {% for error in form.trip_duration.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.trip_duration }}
                    {% endif %}
                </div>
                <div>
                    {{ form.details.label }}
                    {% if form.details.errors %}
                        {{ form.details }}
                        <div>
                            {% for error in form.details.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.details }}
                    {% endif %}
                </div>
                <div>
                    {{ form.trip_picture.label }}
                    {{ form.trip_picture(class="") }}
                    {% if form.trip_picture.errors %}
                        {% for error in form.trip_picture.errors %}
                            <span>{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
    <div>
        <small>
            Check Other Trips?
            <a href="{{ url_for('main.home') }}">Home</a>
        </small>
    </div>


{% endblock content %}
