{% extends "layout.html" %}
{% block content %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">

          <div class="form-group">
               <form method="POST" action="" style="margin-top: 25px">
               {{ form.hidden_tag() }}
               <h2><b>Reset Password</b></h2>
                  <div class="form-group" style="margin-top: 20px">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control", placeholder=form.email.description) }}
                        <div>
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control", placeholder=form.email.description) }}
                    {% endif %}
                  </div>
                  <div class="form-group" style="margin-top: 50px; margin-bottom: 250px">
                      {{ form.submit(class="btn btn-secondary") }}
                  </div>
               </form>
            </div>

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->



{% endblock content %}
