{% extends "layout.html" %}
{% block content %}
{% set iterated = {'i': False} %}


  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-4">
        <!-- Title -->
        <h1 class="mt-4">
            {{ trip.name }}     <!-- DODATI LOKOT ILI NESTO AKO JE PRIVATE -->
            <img alt="lock" src="{{ url_for('static', filename='helper_pics/' + 'small_lock.png') }}">
        </h1>
        <!-- Author -->
        <p class="lead">
          Od
          <a href="{{ url_for("users.user_trips", id=trip.author.id) }}">{{ trip.author.username }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Stvoren {{ trip.date_created.strftime('%d.%m.%Y') }} u {{ trip.date_created.strftime('%H:%M') }} sati.</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ url_for('static', filename='trip_pics/' + trip.image_file) }}" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">Lokacija {{ trip.location }}</p>

        {% if trip.author == current_user %}
            <div class="form-group">
                    <div class="button-group">
                        <a role="button" class="btn btn-primary" href="{{ url_for('trips.update_trip', trip=trip.id) }}">Ažuriraj</a>
                        <!-- Trigger/Open The Modal -->
                        <a role="button" href="#" class="btn btn-danger" id="myBtn">Izbriši</a>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                      <!-- Modal content -->
                      <div class="modal-content">
                        <p class="close btn btn-secondary"><b>ODUSTANI</b></p>
                          <br><br>
                            <a type="button" class="close btn btn-danger" href="{{ url_for('trips.delete_trip', trip=trip.id) }}">
                                <b>IZBRIŠI</b>
                            </a>
                      </div>
                    </div>
                </div>
            </div>

            <script>
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function() {
              modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
            </script>


        {% endif %}

        <p>Vrsta transporta : <b>{{ trip.transport_type }}</b></p>
        <p>Slobodnih mjesta : <b>{{ trip.people_number }}</b></p>
        <p>Polazak : <b>{{ trip.starting_at.strftime('%d.%m.%Y') }}</b>
        u <b>{{ trip.starting_at.strftime('%H:%M') }}</b> sati</p>
        <p>Cijena izleta : <b>{{ trip.price }} kuna</b> po osobi</p>

        <p>Trajanje izleta : <b>{{ trip.trip_duration }}</b> dana</p>
        <p>Detalji :</p>
        <p><i>{{ trip.details }}</i></p>
        <br><br>

      <div class="btn-group">
        {% if current_user.is_authenticated %}

            {% set iterated = {'i': False} %}
            {% for trip_joined in current_user.trips_joined %}
               {% if trip.id==trip_joined.id  %}
                 <div hidden>{{ iterated.update({'i':True}) }}</div>
               {% endif %}
            {% endfor %}

            {% if not iterated.i %}
                <a href="{{ url_for('users.add_traveler', trip_id=trip.id) }}" class="btn btn-primary my-2">Prijavi se</a>
            {% elif  iterated.i %}
                <a href="{{ url_for('users.remove_traveler', trip_id=trip.id) }}" class="btn btn-warning my-2">Odjavi se</a>
            {% endif %}

        {% else %}
            <a href="{{ url_for('users.login') }}" class="btn btn-primary my-2">Login</a>
        {% endif %}

        <a class="btn btn-secondary my-2" data-toggle="collapse" href="#a" role="button" aria-expanded="false" aria-controls="collapseExample">
            {{ counter }} / {{ trip.people_number }}
        </a>

      </div>

      <div class="collapse" id="a">
              <div class="card card-body">
                  {% for user in trip.users %}
                      <a href="{{ url_for('users.user_trips', id=user.id) }}"
                         class="btn shadow-sm p-2 mb-2 bg-light">
                          {{ user.username }}
                      </a>
                  {% endfor %}
              </div>
          </div>
      </div>
    </div>
    </div>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Ostavite komentar:</h5>
          <div class="card-body">
            <form method="POST" action="">
            {{ form.hidden_tag() }}
              <div class="form-group">
                    <div class="form-group">
                        {% if form.content.errors %}
                        {{ form.content(class="form-control", placeholder=form.content.description) }}
                        <div>
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.content(class="form-control", placeholder=form.content.description) }}
                        {% endif %}
                  </div>
              </div>
              {{ form.submit(class="btn btn-primary") }}
            </form>
          </div>
        </div>

      {% for comment in comments %}
        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
              <h5 class="mt-0">
                  <a href="{{ url_for('users.user_trips', id=trip.author.id) }}" class="badge">
                      {{ comment.comment_author.username }}
                  </a><font size="2" style="color: lightgrey">{{ comment.date_created.strftime('%d.%m.%Y - %H:%M') }}</font>
              </h5>
            {{ comment.content }}
          </div>
          {% if current_user.is_authenticated %}
              {% if current_user.id == trip.author.id %}
                  <a type="button" class="btn btn-danger"
                     href="{{ url_for('comments.delete_comment', comment_id=comment.id) }}">
                      Delete
                  </a>
              {% elif current_user.id == comment.user_id %}
                  <a type="button" class="btn btn-danger"
                     href="{{ url_for('comments.delete_comment', comment_id=comment.id) }}">
                      Delete
                  </a>
              {% endif %}
          {% endif %}
        </div>
      {% endfor %}
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

{% endblock content %}
