{% extends "layout.html" %}
{% block content %}

    <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
    <p>Ime: {{ user.full_name }}</p>
    <p>aktivan: {{ user.active }}</p>
    <p>Datum rođenja: {{ user.birth_date }}</p>
    <div>
        <p>Prijavljen na izlete:
        {% for trip in user.trips_joined %}
            {{ trip.location }},
        {% endfor %}</p>
    </div>

    <p>O meni:</p>
    <article>{{ user.about_me }}</article>
    <hr>




{% set iterated = {'i': False} %}
<h1>Trips By {{ user.username }} ({{ trips.total }})</h1><hr>
    {% for trip in trips.items %}
    <article>
        <a href="{{ url_for('trips.show_trip', trip_id=trip.id) }}"><h2>Izlet u {{ trip.location }}</h2></a>
        <div>
            <img src="{{ url_for('static', filename='trip_pics/' + trip.image_file) }}">
            <p>Autor : <a href="{{ url_for('users.user_trips', id=trip.author.id) }}">{{ trip.author.username }}</a></p>
            <p>Datum stvarnja : {{ trip.date_created.strftime('%Y-%m-%d') }}</p>
            <p>Detalji :</p>
            <article>{{ trip.details }}</article>
            <br><br>

            <p>Prijavljeni su : </p>
            {% set iterated = {'i': False} %}
            {% for trip_joined in current_user.trips_joined %}
               {% if trip.id==trip_joined.id  %}
                <div hidden>{{ iterated.update({'i':True}) }}</div>
                <p>{{ current_user.username }}</p>
                {% endif %}
            {% endfor %}
            <br><br>
            <hr>

            {% if current_user.is_authenticated %}
                {% if current_user.username == trip.author.username %}
                <p><i>Vi ste autor putovanja.</i></p>
                <a href="{{ url_for('trips.show_trip', trip_id=trip.id) }}">Izmjeni/izbrisi izlet</a><br>
                {% endif %}

                {% if not iterated.i %}
                <a href="{{ url_for('users.add_traveler', trip_id=trip.id) }}">Prijavi se!</a>
                {% elif  iterated.i %}
                <p><i>Prijavljeni ste na ovaj izlet!</i><br>
                    <a href="{{ url_for('users.remove_traveler', trip_id=trip.id) }}">Odjavi se</a></p>
                {% endif %}

            {% else %}
                <small>Zelite se prijaviti na izlet? <a href="{{ url_for('users.login') }}">Login</a></small>
            {% endif %}
            <hr><hr>
            </div>
        </article>


    {% endfor %}
    <small>Currently on {{ trips.page }}. page</small><br>
    {% for page_num in trips.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if trips.page ==page_num %}
                <a style="color:green" href="{{ url_for('users.user_trips', id=user.id, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a href="{{ url_for('users.user_trips', id=user.id, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}
{% endblock content %}

